footer {
    display: flex;
    gap: 20px; /* Lepsze niż margines */
    align-items: center;
    bottom: 0;
    width: 100%; /* Lepsze niż 100vw */
    padding: 10px 40px;
    background-color: rgb(11, 12, 68);
    font-size: 1.2em;
    color: whitesmoke;
    border-top: 2px solid rgb(110, 185, 255);
    box-shadow: -10px 0px 10px black;
}

.footer-text {
    padding: 5px;
    color: whitesmoke;
    text-decoration: none;
}