body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(36, 99, 180);
    background-image: url(/src/images/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}