.mainWindow{
    width: 50%;
    height: 65%;
    background-color: rgba(11, 12, 68, 1);
    position: absolute;
    top: 200px;
    border: 2px solid rgb(110, 185, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    left: 20vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    

}
.spinButton{
    height: 10vh;
    width: 25vw;
    top: 10px;
    border: 2px solid rgb(110, 185, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}
.square{
    height: 14vh;
    width: 7vw;
    background-color: rgb(237, 236, 155);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:initial;
    overflow: hidden;


}
.chuj{
    width: 30vw;
    display: flex;
    justify-content: space-around;
}


.image{
    width: 100px;
    animation: nazwa linear 1s infinite;
    animation-fill-mode: forwards;
    margin-bottom: 90px;
    animation-play-state: paused;
}

@keyframes nazwa{
    0% {
        transform: translateY(-380px);
    }
    100% {
        transform: translateY(450px);
    }
    
}